*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.app{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.height-400{
  height: 400px;
}



.container{
  width: 992px;
  margin: auto;
}

.wrap{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}

.header{
  background-color: red;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_item{
  padding: 0px 30px;
}

.wrap_image{
  width: 40%;
  padding-right: 30px;
}

.wrap_img{
  width: 100%;
}

.wrap_text{
  width: 60%;
}

.wrap_title{
  margin-bottom: 30px;
}






.footer{
  background-color: blue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


