*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.height-400{
  height: 400px;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 992px;
  margin: auto;
}

.wrap{
  display: flex;
  flex-flow: wrap;
}

.header{
  background-color: red;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_item{
  padding: 0px 30px;
}




.main{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}

.main_sidebar{
  width: 40%;
  padding-right: 30px;
}

.main_content{
  width: 60%;
  padding-right: 30px;
  background-color:cornflowerblue;
}

.main_insidebar{
  background-color: yellowgreen;
}

.main_incontent{
  background-color:cornflowerblue;
}

.footer{
  background-color: blue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer_item{
  padding: 0px 30px;
}

